dotbot/
!dotbot/README.md
BrewfileOld*
nvim.bak
**/*backups/**
mcp.creds.json

# we ignore it but still symlink from our dotfiles folder
claude_desktop_config.json
cursor/mcp.json

# private
cursor/rules/tech-stack-info.mdc

.claude-trace
.env
config.json

# ignore my mcp registry
mcp-registry.json
