# https://github.com/jesseduffield/lazygit/blob/master/docs/Config.md
promptToReturnFromSubprocess: false # Skip "press enter to return" after terminal commands
gui:
  showNumstatInFilesView: true # If true, show the number of lines changed per file in the Files view
git:
  paging:
    colorArg: always
    pager: delta --dark --paging=never --line-numbers --hyperlinks --hyperlinks-file-link-format="lazygit-edit://{path}:{line}"
    useConfig: false
  commit:
    signOff: false
  branchLogCmd: "git log --graph --color=always --abbrev-commit --decorate --date=relative --pretty=medium {{branchName}} --"
  allBranchesLogCmds:
    - git log --graph --all --color=always --abbrev-commit --decorate --date=relative  --pretty=medium
os:
  shellFunctionsFile: ~/.aliases
  editPreset: "nvim-remote" # see 'Configuring File Editing' section
customCommands:
  - key: "W"
    prompts:
      - type: "input"
        title: "commit --no-verify"
        initialValue: ""
    command: git commit -m "{{index .PromptResponses 0}}" --no-verify
    description: "commit --no-verify"
    context: "global"
    output: terminal
  - key: <c-a>
    description: Pick AI commit msg
    command: ~/scripts/ai-generate-commit-msg.sh
    context: files
    output: terminal
  - key: "O"
    prompts:
      - type: "input"
        title: "Target branch for PR"
        initialValue: ""
    command: ~/dotfiles/scripts/open-pr-with-target.sh "{{index .PromptResponses 0}}" "{{.SelectedLocalBranch.Name}}"
    description: "Open PR with custom target"
    context: "localBranches"
    output: terminal
